### Importing libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# reading dataset
df = pd.read_csv(r'C:\Users\agyei\Desktop\Hamoye\Introduction to Python for Machine Learning\Practice\FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1")

### Information about dataset

In [7]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [8]:
df.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [9]:
df.describe(include = 'all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [12]:
df.shape

(60943, 12)

In [13]:
df.size

731316

In [14]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

## Questions

### Total Protein Supply Quantity in Madagascar in 2015

In [25]:
M = df.groupby(['Area', 'Element'])['Y2015'].sum()
M.loc['Madagascar']

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

### Year with highest Stock Variation

In [105]:
Y = df.groupby(['Element'])[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()
Y.loc['Stock Variation'].sort_values(ascending = False).head(1)

Y2014    58749.83
Name: Stock Variation, dtype: float64

### Total number or unique countries in the dataset

In [41]:
df['Area'].nunique()

49

### Total sum of processing in 2017

In [43]:
P = df.groupby(['Element'])['Y2017'].sum()
P.loc['Processing']

292836.0

### Mean and Standard Deviation of dataset for 2017

In [63]:
df1 = df['Y2017']
print("Mean: "+ str(df1.mean())+ "\nStandard Deviation:" + str(df1.std()))

Mean: 140.917764860268
Standard Deviation:1671.8623590572788

### Area with 7th lowest sum in 2017

In [111]:
df2 = df[['Area','Y2017']]
df2.groupby(['Area']).sum().sort_values(by = 'Y2017').head(7)

                          Y2017
Area
Sudan (former)             0.00
Ethiopia PDR               0.00
Comoros                   59.84
Seychelles               442.34
Sao Tome and Principe  12662.63
Cabo Verde             14650.74
Guinea-Bissau          19102.77

### Total sum of Wine produced in 2015 and 2018 respectively

In [86]:
df3 = df[['Item', 'Y2015', 'Y2018']]
wine = df3.groupby(['Item']).sum()
wine.loc['Wine']

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64

### Area with highest sum in 2017

In [93]:
df4 = df[['Y2017', 'Area']]
df4.groupby(['Area']).sum().sort_values(by = 'Y2017', ascending = False).head(1)

              Y2017
Area
Nigeria  1483268.23

### Year with least correlation to Element Code

In [96]:
df5 = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]
df5.corr().sort_values(by = 'Element Code').head(1)

       Element Code     Y2014     Y2015  Y2016     Y2017     Y2018
Y2016      0.023444  0.996081  0.995739    1.0  0.992785  0.992757

### Missing data in 2014

In [103]:
df6 = df['Y2014']
# number of null values
missing = df6.isnull().sum()

# percentage of null values
percent = missing * 100 / len(df6.index)
print("Missing data: "+str(missing))
print("Percentage: "+str(round(percent,3)))

Missing data: 1589
Percentage: 2.607